<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <%# <meta name="viewport" content="width=device-width, initial-scale=1">%>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/editor.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/javascripts/editor.js"></script>
        <title>Build-it | Editor</title>
    </head>
    <body>
        <script>
            var contents = document.querySelectorAll("[contenteditable=true]");
            [].forEach.call(contents, function (content) {

                content.addEventListener("focus", function () {
                    content.setAttribute("data-initial-text", content.innerHTML);
                });
                content.addEventListener("blur", function () {

                    if (content.getAttribute("data-initial-text") !== content.innerHTML) {
                       // Handlers for content-editable elements
                        console.log("New data when content change.");
                        console.log(content.innerHTML);
                    }
                });
            });
        </script>
        <script>
            sessionStorage.setItem("fromEditor", "True");
        </script>
        <script type="text/javascript">

            var accessToken = "1bb843c663654c2a8915f699825c8d76";
            var baseUrl = "https://api.api.ai/v1/";

            $(document).ready(function() {
                $("#input").keypress(function(event) {
                    if (event.which == 13) {
                        event.preventDefault();
                        send();
                    }
                });
                $(".mic").click(function(event) {
                    switchRecognition();
                });
            });

            var recognition;

            function startRecognition() {
                recognition = new webkitSpeechRecognition();
                recognition.onstart = function(event) {
                    updateRec();
                };
                recognition.onresult = function(event) {
                    var text = "";
                    for (var i = event.resultIndex; i < event.results.length; ++i) {
                        text += event.results[i][0].transcript;
                    }
                    setInput(text);
                    stopRecognition();
                };
                recognition.onend = function() {
                    stopRecognition();
                };
                recognition.lang = "en-US";
                recognition.start();
            }

            function stopRecognition() {
                if (recognition) {
                    recognition.stop();
                    recognition = null;
                }
                updateRec();
            }

            function switchRecognition() {
                if (recognition) {
                    stopRecognition();
                } else {
                    startRecognition();
                }
            }

            function setInput(text) {
                $("#input").val(text);
                send();
            }

            function updateRec() {
                $("#rec").text(recognition ? "Stop" : "Speak");
            }

            function send() {
                var text = $("#input").val();
                $.ajax({
                    type: "POST",
                    url: baseUrl + "query?v=20150910",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    headers: {
                        "Authorization": "Bearer " + accessToken
                    },
                    data: JSON.stringify({ query: text, lang: "en", sessionId: "somerandomthing" }),

                    success: function(data) {
                        var action = data['result']['metadata']['intentName'];
                        var element = data['result']['parameters']['item'];
                        var options = {text: "This is an element"};
                        console.log(action);
                        console.log(element);

                        sendQuery(action, element, targetId, options);
                        setResponse(JSON.stringify(data, undefined, 2));
                    },
                    error: function() {
                        setResponse("Internal Server Error");
                    }
                });
                setResponse("Loading...");
            }

            function setResponse(val) {
                $("#response").text(val);
            }

        </script>
        <iframe id="main" src="pages/<%= pageid%>"></iframe>

        <div class="bottom">

            <div class="mic">
                <span id="rec" class="fa fa-2x fa-microphone" aria-hidden="true"></span>
            </div>
            <input id="input" type="text" name="speech" value="">

            <ul class="list-unstyled">
                <li><i class="fa fa-lg fa-info-circle" aria-hidden="true"></i></li>
                <li><span id="info">waiting for user</span></li>
                <li><i class="fa fa-lg fa-crosshairs" aria-hidden="true"></i></li>
                <li><span id="target"></span></li>
                <li id="help" data-toggle="popover" data-trigger="hover" data-container="body" data-placement="top" title="What can I do with the element?"><i class="fa fa-lg fa-question" aria-hidden="true"></i></li>
                <li id="download" title="Download the page"><a href="editor/save"><i class="fa fa-lg fa-download" aria-hidden="true"></i></li></a>
            </ul>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalProperties" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Set properties</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs">
                            <li><a href="#text" data-toggle="tab">Text</a></li>
                            <li><a href="#link" data-toggle="tab">Link</a></li>
                            <li><a href="#size" data-toggle="tab">Size</a></li>
                            <li><a href="#margin" data-toggle="tab">Margin</a></li>
                            <li><a href="#padding" data-toggle="tab">Padding</a></li>
                        </ul>
                    </div>
                    <div class="tab-content modal-body">
                        <div class="tab-pane active" id="text">
                            <textarea></textarea>
                            <hr>
                            <button onclick="modalText();" type="button" class="btn btn-success" data-dismiss="modal">Save</button>
                            <button id="dictation" onclick="modalDictation(this);" type="button" class="btn btn-default"><i class="fa fa-microphone" aria-hidden="true"></i></button>
                        </div>
                        <div class="tab-pane" id="link">
                            <textarea placeholder="Enter URL address"></textarea>
                            <hr>
                            <button onclick="modalLink();" type="button" class="btn btn-success" data-dismiss="modal">Save</button>
                        </div>
                        <div class="tab-pane" id="size">
                            <div class="text-center center-line">
                                <input type="number" name="width" placeholder="Width" value="">
                                <span>X</span>
                                <input type="number" name="height" placeholder="Heigth" value="">
                            </div>
                            <hr>
                            <button onclick="modalSize();" type="button" class="btn btn-success" data-dismiss="modal">Save</button>
                        </div>
                        <div class="tab-pane" id="margin">
                            <div class="text-center">
                                <input type="number" name="top" placeholder="Top" value="">
                            </div>
                            <div class="text-center center-line">
                                <input type="number" name="left" placeholder="Left" value="">
                                <span>X</span>
                                <input type="number" name="right" placeholder="Right" value="">
                            </div>
                            <div class="text-center">
                                <input type="number" name="bottom" placeholder="Bottom" value="">
                            </div>
                            <hr>
                            <button onclick="modalMargin();" type="button" class="btn btn-success" data-dismiss="modal">Save</button>
                        </div>
                        <div class="tab-pane" id="padding">
                            <div class="text-center">
                                <input type="number" name="top" placeholder="Top" value="">
                            </div>
                            <div class="text-center center-line">
                                <input type="number" name="left" placeholder="Left" value="">
                                <span>X</span>
                                <input type="number" name="right" placeholder="Right" value="">
                            </div>
                            <div class="text-center">
                                <input type="number" name="bottom" placeholder="Bottom" value="">
                            </div>
                            <hr>
                            <button onclick="modalPadding();" type="button" class="btn btn-success" data-dismiss="modal">Save</button>
                        </div>
                    </div>
                </div>
                <!-- End of modal content-->

            </div>
        </div>

    </body>
</html>

<!-- SOURCES -->
<!-- : https://docs.api.ai/docs/sdks -->
