<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <%# <meta name="viewport" content="width=device-width, initial-scale=1">%>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oxygen:300" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/editor.css">
        <script src="/javascripts/editor.js"></script>
        <title>Build-it | Editor</title>
    </head>
    <body>

        <iframe id="main" src="pages/<%= pageid%>"></iframe>

        <div class="bottom">
            <div class="mic">
                <span class="fa fa-microphone" aria-hidden="true"></span>
            </div>
            <input type="text" name="speech" value="">
        </div>

    </body>
</html>
