<% include templates/head.ejs %>
  <body>
      <% include templates/navbar.ejs %>
      <div class="main-part">
          <div style="font-size:30px;">
              Description goes here
              <%# <a href="/auth/facebook" style='font-size: 50px;'><i class="fa fa-facebook-square" aria-hidden="true"></i></a>%>
          </div>
      </div>
  </body>
</html>
