<% include templates/head.ejs %>
  <body>
      <% include templates/navbar.ejs %>
      <div class="main-part">
          <div style="font-size:30px;">
              Description goes here
          </div>
      </div>
  </body>
</html>

<!--SOURCES:-->
<!--HTML+JS integration for API.AI : https://gist.github.com/artemgoncharuk/b31b6a656c954a2866e8-->
<!--BOOTSTRAP : http://bootstrapdocs.com/v3.0.3/docs/getting-started/-->
