<% include templates/head.ejs %>
  <body>
      <% include templates/navbar.ejs %>
      <div class="main-part">
          <div style="font-size:30px;">
              Description goes here
          </div>
      </div>
  </body>
</html>
