
<html id="about">
<% include templates/head.ejs %>
  <body>
      <% include templates/navbar.ejs %>
    <div class="main-part">
      	<div style="font-size:30px;">
			<%# <a href="/auth/facebook" style='font-size: 50px;'><i class="fa fa-facebook-square" aria-hidden="true"></i></a>%>
            	<div class="jumbotron" style="background: transparent !important;">
                	<div class="row marketing" style="margin-left: 100px">
		        		<div class="col-lg-6">
        	  				<p class="lead">Build-It is an app that allows user to build web pages with their voice.</p>
        					<p><a class="btn btn-lg btn-success" href="#" role="button">Try it Today</a></p>
        					<br>
        		  			<h4>Want to Share ?</h4>
		          			<p>Feel free to share this app with your friends to build your own web Pages in couple minutes (:</p>
		          			<iframe id="d" src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fbuild-it.com&layout=button_count&size=small&mobile_iframe=true&width=69&height=20&appId" width="120" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		         		</div>

		         	</div>
      			</div>
		</div>
	</div>
    <div class="main-part">
        <div style="font-size:30px;">
            <%# <a href="/auth/facebook" style='font-size: 50px;'><i class="fa fa-facebook-square" aria-hidden="true"></i></a>%>
                <div class="jumbotron" style="background: transparent !important;">
                    <div class="row marketing" style='margin-left: 100px'>
                        <div class="col-lg-6" style="font-size: 17px">
                            <p>Follow few steps to get started !</p>
                            <p>Don't have an account yet ? Sign up by logging through Facebook or Google+ by clicking on the top right corner.
                                After Sigining in, you can add a new page
                                Now you are all set to get started :)</p>
                            <p>What you can do with this app?</p>
                            <ul>
                                <li>
                                    You just have to click on the speaker button and say what you want to be added on to your page.
                                    for example : "Add a paragraph", "Add a footer", "Delete a paragraph" and similarly you can add/delete links, button, image, jumbotron, navbar, panel.
                                </li>
                                <li>
                                    You can edit the page, see the page and delete the page. Moreover, you can save your work(right down corner of the page) and resume your work from where you leave.
                                </li>
                                <li>
                                    Also by hovering over the question mark(at the right down corner), you can get more information about how you can play around with the tag.
                                </li>
                            </ul>
                            <br><br>
                            <p>Below are the funtionality you can do with the tags : </p>
                            <p>Paragraph:</p>
                            <ul>
                                <li>Font style</li>
                                <li>Font size</li>
                                <li>Font color</li>
                                <li>Margins</li>
                                <li>Links</li>
                            </ul>
                            <p>Header:</p>
                            <ul>
                                <li>Font size (h1 - h6), style, color </li>
                                <li>Text alignment</li>
                            </ul>
                            <p>Links:</p>
                            <ul>
                                <li>Text size, color. style Buttons:</li>
                            </ul>

                            <p>Buttons:</p>
                            <ul>
                                <li>Bootstrap buttons</li>
                                <li>Changing button group (warn, success, etc.)</li>
                                <li>Change button size</li>
                            </ul>

                            <p>Image:</p>
                            <ul>
                                <li>Alignment</li>
                            </ul>

                            <p>Jumbotron:</p>
                            <ul>
                                <li>Page header, Links, Paragraphs, Buttons</li>
                            </ul>

                            <p>Navbar (fixed to top):</p>
                            <ul>
                                <li>Add and delete buttons</li>
                                <li>Select <li> -> Delete</li>
                                <li>Select link -> Modify</li>
                            </ul>
                            <p>Footer:</p>
                            <ul>
                                <li>Add paragraph, links</li>
                                <li>Change color of footer</li>
                            </ul>
                            <p>Panel (tentative):</p>
                            <ul>
                            <li>Add, delete li </li>
                            <li>Change color</li>
                            <li>Change position </li>
                            </ul>
                        </div>

                    </div>
                </div>
        </div>
    </div>
  </body>
</html>
