
<% include templates/head.ejs %>
  <body>
      <% include templates/navbar.ejs %>
    <div class="main-part" id="about">
      	<div style="font-size:30px;">
			<%# <a href="/auth/facebook" style='font-size: 50px;'><i class="fa fa-facebook-square" aria-hidden="true"></i></a>%>
            	<div class="jumbotron" style="background: transparent !important;">
                	<div class="row marketing" style='margin-right:290px '>
		        		<div class="col-lg-6">
        	  				<p class="lead">Build-It is an app that allows user to build web pages with their voice.</p>
        					<p><a class="btn btn-lg btn-success" href="#" role="button">Try it Today</a></p>
        					<br>
        		  			<h4>Want to Share ?</h4>
		          			<p>Feel free to share this app with your friends to build your own web Pages in couple minutes (:</p>
		          			<iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fbuild-it.com&layout=button_count&size=small&mobile_iframe=true&width=69&height=20&appId" width="120" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		         		</div>

		         	</div>
      			</div>
		</div>
	</div>

    <div class="main-part" id="documentation">
      	<div style="font-size:30px;"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>%>
            	
		</div>
	</div>
  </body>
</html>

