<% include templates/head.ejs %>
  <body>
      <% include templates/navbar.ejs %>
      <div class="main-part">
          <div style="font-size:30px;">
              Logged in as <%= user ? user.name : ''%>
          </div>
      </div>
  </body>
</html>
