<div class="header">
    <div class="header-centered">
        <h1 class="header-left">Build It</h1>
        <div class="header-right">
            <a href="/register" class="btn btn-default">Sign up</a>
            <a href="/login" class="btn btn-default">Login</a>
        </div>
        <div class="header-middle text-center">
                <ul>
                    <li><a href="#">creators</a></li>
                    <li><a href="#">documentation</a></li>
                </ul>
        </div>
    </div>
</div>
