<div class="header">
    <div class="header-centered">
        <h1 class="header-left">Build It</h1>
        <div class="header-right">
            <%# <a href="/register" class="btn btn-default">Sign up</a>%>
            <% if (user) {%>
                <a href="/user/logout" class="btn btn-default">Logout</a>
            <% } else { %>
                <a href="/auth/facebook" class=""><i class="fa fa-2x fa-facebook-official"></i></a>
            <% } %>

        </div>
        <% if (!user) {%>
        <div class="header-middle text-center">
                <ul>
                    <li><a href="#">about</a></li>
                    <li><a href="#">documentation</a></li>
                </ul>
        </div>
        <% } %>
    </div>
</div>
