<div class="header">
    <div class="header-centered">
        <div class="header-left">
            <strong>Build It</strong>
        </div>
        <div class="header-right">
            <a href="#" class="btn btn-default">Sign up</a>
            <a href="#" class="btn btn-default">Login</a>
        </div>
        <div class="header-middle text-center">
                <ul>
                    <li><a href="#">creators</a></li>
                    <li><a href="#">documentation</a></li>
                </ul>
        </div>
    </div>
</div>
