/*Gotham Light, Medium*/
/*Gotham SSm,Helvetica,Arial,sans-serif;*/

html, body {
    height: 100%;
    color: rgb(60, 60, 60);
}

iframe#main {
    display: block;
    border: none;
    height: calc(100% - 33px);
    width: 100%;
    margin: auto;
}

dd {
    margin-left: 15px;
}

dl {
    margin: 0;
}

dt:not(:first-child) {
    margin-top: 10px;
}

li > a, li > a:hover, li > a:visited {
    color: inherit;
    text-decoration: inherit;
    display: inline-block;
    cursor: default;
}

.bottom {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    height: 32px;
    border-top: 1px solid rgb(245, 241, 241);
    box-shadow: 0 0 5px 0 rgb(130, 130, 130);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(159, 159, 159);
    font-family: "Oxygen";
    font-weight: 100;
    background-color: rgb(237, 237, 237);
}

.bottom input {
    font-size: 15px;
    min-width: 600px;
    border: none;
    border-bottom: 1px solid rgb(181, 181, 181);
    outline: none;
    padding: 0;
    margin: 0;
    text-indent: 10px;
    background-color: transparent;
    text-align: center;
}

.bottom input:focus {
    border-bottom: 1px solid #5FB0E4;
}

.bottom .mic {
    min-width: 100px;
    padding: 0;
    text-align: center;
    cursor: pointer;
}

.blue {
    color: #5FB0E4;
}

.list-unstyled {
    white-space: nowrap;
    padding: 0;
    margin: 0 0 0 15px;
    /*font-size: 0px;*/
}

.list-unstyled > li {
    display: inline-block;
    padding: 0 7px;
    margin: 0;
    line-height: 32px;
    user-select: none;
    cursor: default;
    /*font-size: 14px;*/
}

.list-unstyled > li:nth-child(2n+1) {
    border-left: 1px dotted rgb(198, 198, 198);
}

.list-unstyled > li:nth-child(1n+5):hover {
    color: rgb(64, 63, 63);
}

.list-unstyled > li:last-child {
    /*border-right: 1px dotted rgb(198, 198, 198);*/
    border-left: 1px dotted rgb(198, 198, 198);
}

.list-unstyled > li:nth-child(2){
    min-width: 150px;
    text-align: center;
    padding: 0 10px 0 0;
}

.list-unstyled > li:nth-child(4){
    min-width: 80px;
    text-align: center;
    padding: 0 10px 0 0;
}

#target {
    background-color: rgb(204, 229, 245);
    border-radius: 3px;
    padding: 3px 7px;
}

#info {
    border-radius: 3px;
    padding: 3px 7px;
    background-color: rgb(199, 231, 188);
}

.popover {
    font-family: "Oxygen";
    color: rgb(113, 113, 113);
    font-size: 95%;
    width: 170px;
}

.popover-title {
    font-weight: bold;
}
